/* custom  style */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .container-fluid {
   width: 375px !important;
   margin: 0 auto !important;
   overflow: hidden !important;
 }

 .container{
  width: 375px !important;
  margin: 0 auto !important;
  overflow: hidden !important;
}

 .nav-trigger .bar {
    background-color: #fff !important;
}

.nav-trigger.collapsed.style-mobile .bar:nth-child(2) {
    width: 20px;
}

 .bar { 
	height: 3px !important;
	width: 24px !important; 
}

.nav-trigger.style-mobile .bars {
	height: 19px !important;
}

.nav-trigger.style-mobile .bar:nth-child(2) {
	margin-right: 0px !important;
}

.nav-trigger.style-mobile .bar {
	border-radius: 0px !important;
}

.mainheader {
    background-color: #0000ff;
}

.mainheader img {
    padding-top: 20px;
}

.mainheader button {
    padding-top: 20px;
}

.bar  {
    height: 3px !important;
    width: 24px !important;
}

.d-flex-wrap {
    background-color: #0000ff;
}

 ul.nav.main-nav > li > a {
    -webkit-box-pack: left;
    justify-content: left !important; 

}



.visible-xs {
    @media (max-width: @screen-phone-max) {
    .responsive-visibility();
    }  
    @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
      .responsive-invisibility();
    }
    @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
      .responsive-invisibility();
    }
    @media (min-width: @screen-large-desktop) {
      .responsive-invisibility();
    }
  }
  .visible-sm {
    @media (max-width: @screen-phone-max) {
    .responsive-invisibility();
    }
    &.visible-xs {
      @media (max-width: @screen-phone-max) {
        .responsive-visibility();
      }    
    }
    @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
      .responsive-visibility();
    }
    @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
      .responsive-invisibility();
    }
    @media (min-width: @screen-large-desktop) {
      .responsive-invisibility();
    }
  }
  .visible-md {
    @media (max-width: @screen-phone-max) {  
    .responsive-invisibility();
    }
    &.visible-xs {
      @media (max-width: @screen-phone-max) {  
        .responsive-visibility();
      }    
    }
    @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
      .responsive-invisibility();
    }
    &.visible-sm {
      @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
        .responsive-visibility();
      }    
    }
    @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
      .responsive-visibility();
    }
    @media (min-width: @screen-large-desktop) {
      .responsive-invisibility();
    }
  }
  .visible-lg {
    @media (max-width: @screen-phone-max) {
    .responsive-invisibility();
    }
    &.visible-xs {
      @media (max-width: @screen-phone-max) {
        .responsive-visibility();
      }    
    }
    @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
      .responsive-invisibility();
    }
    &.visible-sm {
      @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
        .responsive-visibility();
      }    
    }
    @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
      .responsive-invisibility();
    }
    &.visible-md {
      @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
        .responsive-visibility();
      }    
    }
    @media (min-width: @screen-large-desktop) {
      .responsive-visibility();
    }
  }
  
  
  .navbar-header:only-child {
  
      -webkit-box-flex: 0 !important;
      flex: none;
  
  }
  
  .navbar-header {
  
      padding-left: 0px;“    -webkit-box-pack: none !important;
      justify-content: none !important;
  
  }
  
  button.nav-trigger {‘
  
      position: relative !important;
      float: right !important;
     
      background-color !important: 
  
  transparent !important;
  
  background-image: none !important;
  
  border: 1px solid
  
      transparent !important;
      border-radius: 4px !important;
  
  }
  
  .inline-nav > li + li {
  
      margin-left: 3px !important;
      text-align: right !important; 
  
  }
  

.formtext a{
    font-size: 20px;
    color:#fff;
    font-family: gilroy-regular;
    font-weight: bolder;
}

.nextbutton, .prevbutton, .arrow{
    font-size: 18px !important;
	border: 0px !important;
    color: #fff;
    background-color: #0000ff;
    font-weight: bold !important;
	width: 100%;
	padding-top: 10px !important;
    font-family: gilroy-regular;
}

#printchatbox, #printchatbox1 {
    border: 0 none;
    border-bottom: dashed 7px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: #fff;
    color: #fff;
    font-family: Gilroy-black;
    font-size: 7vw;
    
}

#printchatbox1 {
  font-size: 40px !important;
}

.detailshead{
    color: #fff !important;
    font-weight: bolder !important;
    font-size: 87px ;
    font-family: Gilroy-Black !important;
    margin-bottom:0px !important;
    padding: 0px !important;
}

.detailstext{
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    font-family: Gilroy-Bold;
}

.details{
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color:#0000ff;
    background-blend-mode: multiply;
}
.formgroup input{
  width: 100%;
  color: #0000ff !important;
}

.formgroup input::placeholder, .lqd-unit-animation-done{
  color: #0000ff;
  padding-left: 10px;
  font-family: gilroy-regular;
  padding: 5px !important;
}

.ui-selectmenu-text, .ui-menu-item-wrapper, .ui-state-active{
  color: #0000ff !important;
  font-family:gilroy-regular;
  padding: 5px;
}
.ui-selectmenu-button.ui-button {
  text-align: left;
  width: 100% !important;
}

.ui-corner-all {
  border-radius: 0px !important;
}

.formgroup textarea {
  width: 100%;
}
.formgroup label{
  color: #fff;
  font-family: gilroy-regular;
  font-size: 18px;
  margin-bottom: 0px !important;
}

.details2 h1 {
  font-family: Gilroy-Black;
  font-size: 14.5vw;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 0px;
}

.details2 input{
  width: 85%;
  background-color: #0000ff ;
  border: 0 none;
  border-bottom: dashed 7px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-color: #fff;
  color: #fff;
}

.details2 p{
  font-family: gilroy-regular;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px ;
  margin-bottom: 0PX;
}

.details2 a{
  font-family: gilroy-bold;
  color: #fff;
}